<!DOCTYPE html>
<html ng-app="taporApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TAPoR</title>
		<base href="<%=root_url%>" target="_self">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
		<%= csrf_meta_tags %>



		<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div id="tapor-main" ng-controller="TaporMainController"> 
			<!-- navigation -->
			<%= render "navigation" %>
			<!-- header -->
			<%= render "header" %>
			<!-- main view -->
			<div ng-init="checkUser()" ng-view id="main-view"></div> 
			<!-- footer -->
			<%= render "footer" %>
			</div>
		</div>
	</body>
</html>